@charset "UTF-8";
/* 공통부분*/
html{
    font-size: 100%;
}
body{
    line-height:1.7;
}
a{
    text-decoration: none;
    /*글씨 아래 선을 제거*/
}
img{
    max-width:100%;
}

/*header*/
.logo{
    width:210px;
    margin-top: 14px;
    font-weight: 300;
    font-family: var(--font-1);    
    color:#dddddd;
}
.main-nav{
    font-family: 'Inter', sans-serif;
    display: flex;
    font-size: 1.25rem;
    margin-top: 34px;
    list-style: none;
    letter-spacing: 1.5px;
    font-weight: 300;

}
.main-nav li{
    margin-left:30px;
}
.main-nav a{
    color:#dddddd;
}
.main-nav a:hover{
    color:#0071e3;
}
.page-header{
    font-weight:300;
    display:flex;
    justify-content:space-between;
}
.wrapper{
    /*max-width:1100px; 사용방법 잘 모르겠음.*/
    margin:0 auto;
    padding:0 4%;
}
/*Home*/

.home-content {
    text-align:center;
    margin-top: 10%;
}
.home-content p{
    font-size: 1.125rem;
    margin:10px 0 42px
}

body{
    background-color: #191b20;
    font-family: 'Hedvig Letters Serif', serif;
}

.small-title1{
    color:#dddddd;
    font-family: 'GmarketSans';    
    font-size:1.25rem;
    font-weight:400;
    letter-spacing:1px;
    text-align: center;
    margin-bottom:60px;

}
.page-title{
    font-size: 6rem;
    background: url("https://i.giphy.com/26ufo4EIIEdB8tX3y.gif") no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    color: #000;
    -webkit-text-fill-color: rgb(221, 221, 221,0.85);
    font-family: 'Inter', sans-serif;
    margin-bottom:10px;
}
.button{
    font-size: 1.375rem;
    font-weight:400;
    background: rgb(221, 221, 221);
    font-family: 'GmarketSans';    
    color: rgb(0, 0, 0);
    padding: 18px 32px;
    border-radius: 5px;
}
.button:hover{
    color: rgb(221, 221, 221);
    background: #191b20;
}
.button,.material-symbols-outlined{
    vertical-align: middle;
}
.material-symbols-outlined {
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


